﻿@model QuirkyBookStore.ViewModel.BookRentalViewModel
@using QuirkyBookStore.Utility

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Add New Book Rental</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { id = "txtemail", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { id = "txtbookTitle", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ISBN, new { id = "txtbookISBN", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            List<SelectListItem> listItem = new List<SelectListItem>();
            listItem.Add(new SelectListItem
            {
                Text = SD.OneMonth,
                Value = SD.OneMonthCount
            });
            listItem.Add(new SelectListItem
            {
                Text = SD.SixMonth,
                Value = SD.SixMonthCount
            });

        }

        <div class="form-group">
            @Html.LabelFor(model => model.RentalDuration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RentalDuration, listItem, new { id = "ddlRentalDuration", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RentalDuration, "", new { @class = "text-danger" })
            </div>
        </div>


        <div id="nameAndDob" style="display:none;">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Label(" ", new { id = "lblName", style = "width:350px;", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Label(" ", new { id = "lblBirthdate", style = "width:350px;", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RentalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Label(" ", new { id = "lblRentalPrice", style = "width:350px;", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Availability, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Label(" ", new { id = "lblAvailability", style = "width:350px;", @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Check Availability" id="btnAvailability" class="btn btn-sm btn-success" />
                <input type="submit" value="Reserve" id="btnSubmit" style="display:none;" class="btn btn-sm btn-success" />

            </div>
        </div>
    </div>
}


@section scripts{

    <script>
        $(document).ready(function () {
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('email'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                // `states` is an array of state names defined in "The Basics"
                remote: {
                    url: '/API/UsersAPI?type=email&query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#txtemail').typeahead({
                highlight: true,
                minLength: 3
            },
                {
                    name: 'customers',
                    display: 'Email',
                    source: customers
                });

            var bookTitle = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Title'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                // `states` is an array of state names defined in "The Basics"
                remote: {
                    url: '/API/BookAPI?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#txtbookTitle').typeahead({
                highlight: true,
                minLength: 3
            },
                {
                    name: 'bookTitle',
                    display: 'Title',
                    source: bookTitle
                });
        });


        $('#btnAvailability').click(function () {
            var isbn = document.getElementById("txtbookISBN").value;
            var email = document.getElementById("txtemail").value;
            var rentalDuratrion = document.getElementById("ddlRentalDuration").value;

            $.ajax({
                url: '/api/BookAPI?type=avail&isbn=' + isbn,
                type: 'GET',
                dataType: 'json',
                success: function (data, textStatus, xhr) {
                    $('#lblAvailability').text(data + ' available')
                    if (data > 0) {
                        document.getElementById("btnSubmit").style.display = '';
                    }
                    else {
                        document.getElementById("btnSubmit").style.display = '';
                        document.getElementById("btnSubmit").value = "Not Available";
                        document.getElementById("btnSubmit").display = true;
                        document.getElementById("btnSubmit").classList.remove = "btn-success";
                        document.getElementById("btnSubmit").classList.add = "btn-danger";
                    }
                },
                error: function (xhr, textStatus, errorThrown) {

                }
            });

            $.ajax({
                url: '/api/BookAPI?type=price&isbn=' + isbn + '&rentalDuration=' + rentalDuratrion + '&email=' + email,
                type: 'GET',
                dataType: 'json',
                success: function (data, textStatus, xhr) {
                    $('#lblRentalPrice').text(data);
                },
                error: function () {

                }
            });
            //For User Script
            $.ajax({
                url: '/api/UsersAPI?type=name&query=' + email,
                type: 'GET',
                dataType: 'json',
                success: function (data, textStatus, xhr) {
                    var fields = data.split(';');
                    $('#lblName').text(fields[0])

                    var birthDate = fields[1].split(' ');
                    $('#lblBirthdate').text(birthDate[0])

                    document.getElementById("btnAvailability").style.display = 'none';
                    document.getElementById("nameAndDob").style.display = '';
                },
                error: function () {

                }
            });

         });

    </script>

}
