﻿@model IPagedList<QuirkyBookStore.ViewModel.BookRentalViewModel>
@using PagedList;
@using PagedList.Mvc
@using QuirkyBookStore.Utility
@using QuirkyBookStore.Models
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "BookRent", FormMethod.Get))
{

    <div class="row">
        <div class="col-sm-4">
            <h3>Book Rental Portal</h3>
            @if (User.IsInRole(SD.AdminUserRole))
            {
                <p>@Html.Partial("_CreateButtonPartial")</p>
            }
        </div>
        <div class="col-sm-8 pull-right">
            <br /><br />
            <div class="row">
                <div class="col-sm-12 text-right">
                    @if (User.IsInRole(SD.AdminUserRole))
                    {
                        <label class="radio-inline">
                            @Html.RadioButton("option", "name") Name
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButton("option", "email") Email
                        </label>
                    }
                    <label class="radio-inline">
                        @Html.RadioButton("option", "status") Status
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="pull-right">
                    <button type="submit" name="submit" value="Search" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-search"></span> &nbsp; Search
                    </button>
                </div>
                <div class="pull-right">
                    @Html.Editor("search", new { Htmlattributes = new { @class = "form-control input-sm" } })
                </div>
            </div>

        </div>
    </div>
    <br />
    <table class="table table-hover table-condensed">
        <tr class="table-header">
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(m => m.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.First().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.First().ScheduledEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.First().RentalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.First().RentalDuration)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.First().Status)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(m => item.UserId)
                </td>
                <td>
                    @Html.HiddenFor(m => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(m => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ScheduledEndDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.RentalPrice)
                </td>
                <td>
                    @Html.DisplayFor(m => item.RentalDuration)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Status)
                </td>
                <td>
                    @*Details*@
                    @Html.Partial("_IndividualButtonPartial", new IndividualButtonPartial
                    {
                        Action = "Details",
                        ButtonType = "btn-success",
                        Glyph = "list",
                        Text = "Details Button",
                        BookId = null,
                        GenreId = null,
                        CustomerId = null,
                        MembershipTypeId = null,
                        UserId = null,
                        BookRentalId = item.Id
                    })
                </td>
                <td>
                    @*Action button*@

                    @if (item.Status.ToString().ToLower().Equals(SD.RequestedLower) && User.IsInRole(SD.AdminUserRole))
                    {
                        //Approved and Decline Button and Delete button
                        @Html.Partial("_IndividualButtonPartial", new IndividualButtonPartial
                        {
                            Action = "Decline",
                            ButtonType = "btn-danger",
                            Glyph = "remove",
                            Text = "Decline Button",
                            BookId = null,
                            GenreId = null,
                            CustomerId = null,
                            MembershipTypeId = null,
                            UserId = null,
                            BookRentalId = item.Id
                        })

                        @Html.Partial("_IndividualButtonPartial", new IndividualButtonPartial
                        {
                            Action = "Approve",
                            ButtonType = "btn-primary",
                            Glyph = "ok",
                            Text = "Approve Button",
                            BookId = null,
                            GenreId = null,
                            CustomerId = null,
                            MembershipTypeId = null,
                            UserId = null,
                            BookRentalId = item.Id
                        })
                    }

                    else
                    {
                        if ((item.Status.ToString().ToLower().Equals(SD.RequestedLower) && User.IsInRole(SD.EndUserRole))
                            || (User.IsInRole(SD.AdminUserRole) && !item.Status.ToString().ToLower().Equals(SD.ClosedLower)))
                        {
                            //show Delete button
                            //If user is EndUser And status is requested
                            //if user is admin and status is not equal to closed and requested

                            @Html.Partial("_IndividualButtonPartial", new IndividualButtonPartial
                            {
                                Action = "Delete",
                                ButtonType = "btn-danger",
                                Glyph = "trash",
                                Text = "Delete Button",
                                BookId = null,
                                GenreId = null,
                                CustomerId = null,
                                MembershipTypeId = null,
                                UserId = null,
                                BookRentalId = item.Id
                            })
                        }

                        if (item.Status.ToString().ToLower().Equals(SD.ApprovedLower) && User.IsInRole(SD.AdminUserRole))
                        {
                            //display pick up button
                            @Html.Partial("_IndividualButtonPartial", new IndividualButtonPartial
                            {
                                Action = "PickUp",
                                ButtonType = "btn-primary",
                                Glyph = "share-alt",
                                Text = "PickUp Button",
                                BookId = null,
                                GenreId = null,
                                CustomerId = null,
                                MembershipTypeId = null,
                                UserId = null,
                                BookRentalId = item.Id
                            })
                        }
                        else
                        {
                            if (item.Status.ToString().ToLower().Equals(SD.RentedLower) && User.IsInRole(SD.AdminUserRole))
                            {
                                //display return button
                                @Html.Partial("_IndividualButtonPartial", new IndividualButtonPartial
                                {
                                    Action = "Return",
                                    ButtonType = "btn-primary",
                                    Glyph = "retweet",
                                    Text = "Return Button",
                                    BookId = null,
                                    GenreId = null,
                                    CustomerId = null,
                                    MembershipTypeId = null,
                                    UserId = null,
                                    BookRentalId = item.Id
                                })
                            }
                        }

                    }

                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }))
}