﻿ body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

.table-header {
    background-color: #cee7ff;
    color: #03417D;
}

.form-border {
    border: 1px solid #bbb9b9;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #033b72;
    color: #fff;
}

    .footer > .container {
        padding-left: 15px;
        padding-right: 15px;
    }

html {
    position: relative;
    min-height: 100%;
} 	