﻿.thumbnail .thumbnail-img-container {
    overflow: hidden;
}

.thumbnail .thumbnail-img {
    width: 100%;
    height: auto;
    transition: ease-in-out all 0.8s;
}

.thumbnail a, a:focus, a:hover, a:active {
    outline: 0px none !important;
    text-decoration: none;
}

.thumbnail {
    transition: all 0.4s ease-in-out 0s;
}

    .thumbnail:hover {
        box-shadow: 0px 0px 8px #555;
        transition: box-shadow 0.2s ease-in-out 0s;
    }

        .thumbnail :hover img {
            transform: scale(1.15) rotate(1deg)
        } 