﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a href="/Home/Index" style="width:auto; height:auto; position:relative; ">
                    <img src="~/Content/Images/bookstorelogo.jpg">
                </a>*@
                @Html.ActionLink("Quirky Book Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Rental Status", "Index", "BookRent")</li>
                    @if (User.IsInRole(QuirkyBookStore.Utility.SD.AdminUserRole))
                    {
                        @Html.Partial("_AdminMenuPartial")
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Place your sticky footer content here.</p>
        </div>   
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bookRentalJs")
    @RenderSection("scripts", required: false)
</body>
</html>
