﻿@model QuirkyBookStore.ViewModel.ThumbnailBoxViewModel

<div class="row">
    @if (Model.Thumbnails != null)
    {
        foreach (var thumbnail in Model.Thumbnails)
        {
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">

                    <div class="thumbnail-img-container">
                        <a href="@thumbnail.Link"><img class="thumbnail-img" src="@thumbnail.ImageUrl" alt="" /></a>
                    </div>

                    <div class="caption">
                        <h3><a href="@thumbnail.Link">@thumbnail.Title</a></h3>
                        <p>@Html.Raw(thumbnail.Description)</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
